* {
  font-family: 'League Spartan';
}

.footer-clean {
    padding:50px 0;
    color:#f8f9fa;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }

  body {
    min-height: 100vh;
    background-color: rgb(2, 2, 2);
    font-family: leaguespartan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  hr {
    border: 1px solid aqua;
    margin: 1rem;
    opacity: .25;
  }
  .card {
    background-color: #2b2d30;
    color: #fff;
    margin-left: 9px;
  }
  
  ::-webkit-scrollbar {
      width: 10px;
      color: #ffffff;
  }
  
  ::-webkit-scrollbar-track {
      background: #212529;
  }
  
  ::-webkit-scrollbar-thumb {
      background: #4856ee;
      border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #3c48c5;
  }
  
  ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(219, 219, 219);
      opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgb(219, 219, 219);
  }
  
  ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgb(219, 219, 219);
  }

  footer {
    margin-top: auto;
    width: 100%;
    background-color: rgb(10, 10, 10);; 
  }
  
  .footerContainer {
    padding: 70px 30px 20px;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
  }
  
  .socialIcons a{
   text-decoration: none;
   padding: 10px;
   background-color: white;
   margin: 10px;
    border-radius: 50%;
  }
  
  .socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
   }
  
   .socialIcons a:hover{
    background-color: darkgrey;
    transition: .5s;
  }
  
  .footerNav {
    margin: 30px 0;
  }
  
  .footerNav ul {
    display: flex;
    justify-content: center;
  }
  
  .footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  .footerBottom {
    display: flex;
    justify-content: center;
  }
  
  .company {
    opacity: 0.8;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    padding: 25px 10px 20px;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .logo {
    font-size: 32px;
    color: white;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 700;
  }
  
  
  .navbar {
    padding: 0px 150px;
  }
  
  .navbar a {
    position: relative;
    margin-left: 40px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }
  
  .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
  }
  
  .navbar a:hover::before {
    width: 100%
  }


  
img {  
    max-width: 7%;  
    height: auto;  
    }  
  
  