.big-thumbnail {
  width: 100%;
  height: auto;
  display: block; 
  margin-bottom: 20px; 
  max-height: 240px;
}

.blog-content {
  display: flex;
  display: block;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.blog-content li {
  color: white;
  font-weight: lighter;
}

.text-container {
  padding: 0 20px;
  text-align: start;
}

.blog-timestamp {
  font-size: 9px;
  color: lightgray;
  font-weight: lighter;
}

.text-container p {
  font-family: leaguespartan-regular;
}

