body {
    min-height: 100vh;
    background-color: rgb(2, 2, 2);
    font-family: leaguespartan;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    padding: 25px 10px 20px;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.footerContainer {
    padding: 70px 30px 20px;
}

/* Add other layout-related styles here */
