body {
    min-height: 100vh;
    font-family: 'League Spartan';
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--dark-gold-rgb)); /* Fallback background color */

    /* Background animation */
    animation: pan 180s linear infinite;
    will-change: background-position;
}

h1 {
    
    text-shadow: 4px 4px rgba(0, 2, 131, 0.699);
    font-family: leaguespartan-bold;
}

h2 {
    
    text-shadow: 4px 4px rgba(0, 2, 131, 0.699);
    font-family: leaguespartan-bold;
}

h3 {
    
    text-shadow: 4px 4px rgba(0, 2, 131, 0.699);
    font-family: leaguespartan-bold;
}

p {
    
    text-shadow: 3px 3px rgba(0, 2, 131, 0.699);
    font-family: leaguespartan-regular;
}

a {
    
    text-shadow: 1px 1px rgba(0, 2, 131, 0.699);
}

img {
    filter: drop-shadow(7px 7px 1px rgba(0, 0, 0, 0.466));
}

body::before {
    background: radial-gradient(circle, transparent 75%, rgb(var(--light-gold-rgb)));
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.1; /* Corrected opacity value */
    z-index: 2;

}
body::after {
    content: ""; 
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-image: url("/assets/yakistudioseamless.png");
    opacity: 0.1; 
    z-index: -1; 
    background-size: 10%;
    animation: pan 180s linear infinite;
    will-change: background-position;
    
}

:root {
    --glow-rgb: 245 245 245;
    
    --light-gold-rgb: 2, 128, 245;
    --dark-gold-rgb: 0, 93, 179;
    
    --primary-stripe-rgb: 50 50 50;
    --secondary-stripe-rgb: 30 30 30;
}

@keyframes pan {
0% {
    background-position: 0% 0%;
}
100% {
    background-position: 100% 0%;
}
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    padding: 25px 10px 20px;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.footerContainer {
    padding: 70px 30px 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #808080; 
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 10px; 
    box-shadow: 3px 3px rgba(0, 0, 0, 0.466);
}

.btn:hover {
    background-color: #606060; 
}
