.page-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

