.store-container {
    border: 2px solid white;
    box-sizing: border-box;
    width: 98%;
    margin-left: 1%;
    height: 90%;
    min-height: 70vb;
    display: flex
}

.menu-container {
    border: 1px solid white;
    box-sizing: border-box;
    width: 25%;
    margin: 0.5%;
    min-height: 70vb;
    height: 90%;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.menu-display {
    border: 1px solid white;
    box-sizing: border-box;
    width: 99%;
    display: block; 
    text-align: center;
    margin: 0.5%;
    padding: 1%; 
    min-height: 70vb;
    height: 90%;
}

.menu-button {
    border: 2px solid white;
    width: 98%;
    display: block; 
    text-align: center;
    padding: 5%; 
    margin: 5% 1%; /* Adjust top and bottom margin */
    background-color: #cccccc00; 
    color: rgb(255, 255, 255); 
    text-decoration: none;
}