h1 {
  color:white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}


.projectsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.projectBlock {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
}

.projectBlock:hover {
  transform: scale(1.1);
}

.projectImage {
  width: 100%; 
  height: 100%;
}

.projectContent {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.projectTitle {
  font-size: 18px;
  margin-bottom: 5px;
}

.projectDescription {
  font-size: 14px;
}


.center-container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}



@media (max-width: 700px) {
  .footerNav ul{
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 10px;
  color: #ffffff;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #4856ee;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c48c5;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(219, 219, 219);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(219, 219, 219);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(219, 219, 219);
}