@font-face {
  font-family: leaguespartan;
  src: url(../assets/leaguespartan-bold.ttf);
}

body {
  min-height: 100vh;
  background-color: rgb(2, 2, 2);
  font-family: leaguespartan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  color:white;
  font-weight: 600;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4%;
  padding: 25px 10px 20px;
  background-color: rgb(10, 10, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: white;
  padding-left: 10px;
  text-decoration: none;
  font-weight: 700;
}


.navbar {
  padding: 0px 150px;
}

.navbar a {
  position: relative;
  margin-left: 40px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%
}

.projectsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.projectBlock {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
}

.projectBlock:hover {
  transform: scale(1.1);
}

.projectImage {
  width: 100%; 
  height: 100%;
}

.projectContent {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.projectTitle {
  font-size: 18px;
  margin-bottom: 5px;
}

.projectDescription {
  font-size: 14px;
}

img {  
  max-width: 7%;  
  height: auto;  
  }  

footer {
  margin-top: auto;
  width: 100%;
  background-color: rgb(10, 10, 10);; 
}

.footerContainer {
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a{
 text-decoration: none;
 padding: 10px;
 background-color: white;
 margin: 10px;
  border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
 }

 .socialIcons a:hover{
  background-color: darkgrey;
  transition: .5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerBottom {
  display: flex;
  justify-content: center;
}

.company {
  opacity: 0.8;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .footerNav ul{
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 10px;
  color: #ffffff;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #4856ee;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c48c5;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(219, 219, 219);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(219, 219, 219);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(219, 219, 219);
}