@font-face {
  font-family: leaguespartan;
  src: url(assets/leaguespartan-bold.ttf);
}

body {
  min-height: 100vh;
  background-color: rgb(2, 2, 2);
  font-family: leaguespartan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  color:white;
  font-weight: 600;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px 20px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}


.navbar {
  padding: 0px 150px;
}

.navbar a {
  position: relative;
  margin-left: 40px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%
}

img {  
  max-width: 10%;  
  height: auto;  
  }  

footer {
  margin-top: auto;
  width: 100%;
  background-color: black; 
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a{
 text-decoration: none;
 padding: 10px;
 background-color: white;
 margin: 10px;
  border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
 }

 .socialIcons a:hover{
  background-color: darkgrey;
  transition: .5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerBottom {
  display: flex;
  justify-content: center;
}

.company {
  opacity: 0.8;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .footerNav ul{
    flex-direction: column;
  }
}