<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://www.twitter.com/yakikaki69/"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/yakikaki_/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC7vtYQkWnHMOxuHxsWvjo9g"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.discord.gg/hFUX6R2kuU"><i class="fa-brands fa-discord"></i></a>
        </div>  

       
        <div class="footerNav">
        </div>
        
        <div class="footerBottom">
                <p>Copyright &copy;2022-2023 <span class="company">YakiStudios</span></p>
        
        </div>
        <div class="socialIcons"><a href="mailto:businessyakikaki@gmail.com"><i class="fa-solid fa-envelope"></i></a> <span style="color: white; margin-top: 30px"><a href="mailto:businessyakikaki@gmail.com" style="background-color:transparent; color:white">Contact</a></span>
        </div>
    </div>
</footer>